// importing tailwind config
@tailwind base;
@tailwind components;
@tailwind utilities;

// importing variables
@import 'variables.scss';

// importing mixins
@import 'mixins.scss';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
      font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
      font-size: 50%; // 1rem = 8px
  }

  @include respond(big-desktop) {
      font-size: 75%; // 1rem = 12px
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-black);
  overflow-x: hidden;
}