.header {
    @apply sticky flex items-center px-[2.1rem] py-[1.6rem] h-[8rem] top-[6rem] z-30 bg-white;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
}

.search {
    @apply flex-grow-0 flex-shrink-0 h-full basis-3/4;

    &__form{
        @apply w-full flex items-center mr-[1rem]
    }

    &__suggestion {
        @apply flex-1 mr-[2rem];
    }

    &__icon {
        @apply w-[2.5rem] h-[2.5rem];

        &Button {
            @apply px-[1rem] rounded-[100px];
        }
    }

    &__input {
        @apply px-[1rem] py-[1.6rem] text-[1.6rem] w-full font-normal focus:outline-none;

        &::-webkit-input-placeholder {
            @apply font-normal text-[#6c757d];
        }
    }

    &__list {
        @apply flex;
    }

    &__link {
        @apply inline-block text-[1.4rem] font-medium px-[1.8rem] py-[0.6rem] rounded-[1rem] mr-[1.4rem] transition-all duration-75 ease-in-out;
        box-shadow: inset #d8d8da 0 0 0 1px;

        &:hover {
            @apply bg-[#f7f7f8];
            box-shadow: inset #b1b0b5 0 0 0 1px;
        }
    }

    &__options {
        @apply flex items-center w-full absolute top-[8rem] left-0 p-[3rem];
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

        &Links {
            @apply flex flex-wrap;
        }
    }

    &__headingTertiary {
        @apply block text-[1.6rem] font-semibold mb-[1.6rem];
    }

    &__colors {
        &Button {
            @apply text-[1.4rem] font-medium py-[0.6rem] px-[1.6rem] rounded-[1rem] mr-[1.4rem] flex items-center mb-[1rem] transition-all duration-75 ease-in-out;
            box-shadow: inset rgba(0, 0, 0, 0.15) 0 0 0 1px;

            &:hover {
                box-shadow: inset #b1b0b5 0 0 0 1px;
            }
        }

        &Logo {
            @apply w-[1.2rem] h-[1.2rem] rounded-[50%] mr-[1rem] cursor-pointer;
            box-shadow: inset rgb(0 0 0 / 8%) 0 0 0 1px;
        }

        &Text{
            @apply text-center inline capitalize cursor-pointer;
        }
    }
}